.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadCrumb {
  margin: 1.6rem auto;
}

.search {
  width: 29rem;
  margin-right: 1.5rem;
}

.select {
  width: 21rem;
}
